Thumbs.db
.DS_Store
.gradle
build/
target/
out/
.micronaut/
.idea
*.iml
*.ipr
*.iws
.project
.settings
.classpath
.factorypath
.claude
scripts/python/.venv
local.properties
Fenrir-client/node_modules
Fenrir-client/dist
