
networks:
  dev_network:
    driver: bridge

services:

  relay-db:
    container_name: relay-db
    image: postgres:17.5
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${DATABASE_USERNAME}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
      POSTGRES_DB: ${DATABASE_NAME}
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DATABASE_USERNAME} -d ${DATABASE_NAME} || exit 1"]
      interval: 10s
      retries: 10
      start_period: 60s
      timeout: 10s
    networks:
      - dev_network
    ports:
      - "5432:5432"

  relay-app-jvm:
    container_name: relay-app-jvm
    restart: unless-stopped
    build:
      context: .
      dockerfile: Dockerfile.jvm
    depends_on:
      relay-db:
        condition: service_healthy
    ports:
      - "6724:6724"
    networks:
      - dev_network

  relay-app-native:
    container_name: relay-app-native
    restart: unless-stopped
    build:
      context: .
      dockerfile: Dockerfile.native
    depends_on:
      relay-db:
        condition: service_healthy
    ports:
      - "6725:6724"
    networks:
      - dev_network



#  cloudflared-tunnel:
#    container_name: cloudflared-tunnel
#    image: cloudflare/cloudflared:latest
#    restart: unless-stopped
#    command: tunnel --no-autoupdate run --token
