micronaut.application.name = 'fenrir-s'

[micronaut.server]
cors.enabled = true
cors.configurations.all.allowed-origins = "*"
cors.configurations.all.allow-credentials=false
cors.localhost-pass-through = true
idle-timeout="21s"
#host = "localhost"
port = 6724


[micronaut.executors.scheduled]
type = "scheduled"
virtual = true
parallelism = 32
core-pool-size = 16


[micronaut.router.static-resources.default]
mapping = "/**"
paths = ["classpath:public/"]
